.login-wrapper {
  margin: auto;
  padding: 20px;
}

.card {
  width: 64%;
  margin: 80px auto;
}
.card-body {
  padding: 20px;
}

.card-header h2 {
  margin: 0;
}

.info-text {
  font-size: .8em;
  color: grey;
  line-height: 20px;
}